# Exercise 4.6

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# import orders 
df_orders = pd.read_csv(r'C:\Users\kacie\Box\Personal\CareerFoundry\Data Immersion\Achievement 4\Jupyter Folders\Data\Prepared Data\orders checked.csv', index_col = False)

In [ ]:
df_orders.head()

In [ ]:
# import orders_prior table
df_orders_prior = pd.read_csv(r'C:\Users\kacie\Box\Personal\CareerFoundry\Data Immersion\Achievement 4\Jupyter Folders\Data\original data\orders_products_prior.csv')

In [ ]:
df_orders_prior.head()

In [ ]:
# drop column from orders table
df_orders.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [ ]:
df_orders.head()

In [ ]:
df_orders.shape

In [ ]:
df_orders_prior.shape

In [ ]:
# create merged table
df_orders_merged = df_orders.merge(df_orders_prior, on ='order_id', indicator = True)

In [ ]:
df_orders_merged.head()

In [ ]:
# check completeness of merge
df_orders_merged['_merge'].value_counts()

In [ ]:
df_orders_merged.shape

In [ ]:
# save merged table
df_orders_merged.to_pickle(r'C:\Users\kacie\Box\Personal\CareerFoundry\Data Immersion\Achievement 4\Jupyter Folders\Data\Original Data\orders products combined.pkl')

In [ ]:
# change name of table
df_ord_prod = df_orders_merged

In [4]:
# 4.6.4
df_ord_prod.shape

(32434489, 10)

In [5]:
df_ord_prod.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0,196,1,0,both
1,2539329,1,1,2,8,0,14084,2,0,both
2,2539329,1,1,2,8,0,12427,3,0,both
3,2539329,1,1,2,8,0,26088,4,0,both
4,2539329,1,1,2,8,0,26405,5,0,both

In [6]:
# remove indicator column from combined orders products table
df_ord_prod.drop(['_merge'], axis = 1, inplace = True)

In [7]:
df_ord_prod.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0,196,1,0
1,2539329,1,1,2,8,0,14084,2,0
2,2539329,1,1,2,8,0,12427,3,0
3,2539329,1,1,2,8,0,26088,4,0
4,2539329,1,1,2,8,0,26405,5,0

In [8]:
df_ord_prod.shape

(32434489, 9)

In [9]:
# upload products table
df_prod = pd.read_csv(r'C:\Users\kacie\Box\Personal\CareerFoundry\Data Immersion\Achievement 4\Jupyter Folders\Data\Prepared Data\products checked.csv')

In [10]:
df_prod.shape

(49672, 6)

In [11]:
df_prod.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
#remove unwanted index column from products table
df_prod.drop(['Unnamed: 0'], axis = 1, inplace=True)

In [13]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
df_prod.shape

(49672, 5)

In [15]:
#check data types for product table
df_prod.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [21]:
# make new products table with different int types
df_prod_int8 = df_prod.astype({'product_id': 'int32', 'aisle_id' : 'int8', 'department_id' :'int8'})

In [22]:
# check new product table data types
df_prod_int8.dtypes

product_id         int32
product_name      object
aisle_id            int8
department_id       int8
prices           float64
dtype: object

In [18]:
# check data types of the ord_prod table
df_ord_prod.dtypes

order_id                  int64
user_id                   int64
order_number              int64
order_day_of_week         int64
order_hour                int64
days_since_prior_order    int64
product_id                int64
add_to_cart_order         int64
reordered                 int64
dtype: object

In [19]:
# create new ord_prod table with data type of int8
df_ord_prod_int8= df_ord_prod.astype({'order_id':'int8',
'user_id':'int32',
'order_number':'int8',
'order_day_of_week':'int8',
'order_hour':'int8',
'days_since_prior_order':'int8',
'product_id':'int32',
'add_to_cart_order':'int8',
'reordered':'int8'})

In [20]:
# check new ord_prod table data types
df_ord_prod_int8.dtypes

order_id                   int8
user_id                   int32
order_number               int8
order_day_of_week          int8
order_hour                 int8
days_since_prior_order     int8
product_id                int32
add_to_cart_order          int8
reordered                  int8
dtype: object

In [23]:
# 4.6.5 create merged ord_ prod and products table
df_ord_prod_large = df_ord_prod_int8.merge(df_prod_int8, how='left', on = 'product_id', indicator = True)

In [24]:
df_ord_prod_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [26]:
# 4.6.6 check the source of data in merged table
df_ord_prod_large['_merge'].value_counts()

_merge
both          32404859
left_only        30200
right_only           0
Name: count, dtype: int64

In [29]:
# check data types of new merged table
df_ord_prod_large.dtypes

order_id                      int8
user_id                      int32
order_number                  int8
order_day_of_week             int8
order_hour                    int8
days_since_prior_order        int8
product_id                   int32
add_to_cart_order             int8
reordered                     int8
product_name                object
aisle_id                   float64
department_id              float64
prices                     float64
_merge                    category
dtype: object

In [28]:
# save merged table
df_ord_prod_large.to_pickle(r'C:\Users\kacie\Box\Personal\CareerFoundry\Data Immersion\Achievement 4\Jupyter Folders\Data\Original Data\ords_prods_merge.pkl')