# Exercise 4.7 Deriving New Variables

In [5]:
# import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# import merged orders_products data
df_ord_prod_merge = pd.read_pickle(r'C:\Users\kacie\Box\Personal\CareerFoundry\Data Immersion\Achievement 4\Jupyter Folders\Data\Original Data\ords_prods_merge.pkl')

In [6]:
df_ord_prod_merge.shape

(32435059, 14)

In [7]:
# create merged data subset
df = df_ord_prod_merge[:1000000]

In [8]:
df.shape

(1000000, 14)

## Assign price labels using user-defined function

In [9]:
#create function to assign price labels
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [10]:
# apply price label function to subset
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\kacie\AppData\Local\Temp\ipykernel_23300\834326445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
# check table
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product

In [12]:
# find counts for price labels
df['price_range'].value_counts()

price_range
Mid-range product    672525
Low-range product    314109
High range            12413
Not enough data         953
Name: count, dtype: int64

In [13]:
# find max for price in subset
df['prices'].max()

99999.0

In [14]:
# find max price in full merged set
df_ord_prod_merge['prices'].max()

99999.0

## Assign order hour label using user-defined function

In [15]:
# create function to assign order hour labels
def time_label(row):

  if row['order_hour'] <= 9:
    return 'early shopper'
  elif (row['order_hour'] > 9) and (row['order_hour'] <= 17):
    return 'lunch shopper'
  elif row['order_hour'] > 17:
    return 'late shopper'
  else: return 'Not enough data'

In [16]:
# apply order hour labels to subset
df['shopper'] = df.apply(time_label, axis=1)

C:\Users\kacie\AppData\Local\Temp\ipykernel_23300\2317686452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['shopper'] = df.apply(time_label, axis=1)

In [17]:
# check table
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,shopper
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,early shopper
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,early shopper
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,early shopper
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,early shopper
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,early shopper

In [18]:
# find counts for order hour labels
df['shopper'].value_counts()

shopper
lunch shopper    638291
early shopper    185524
late shopper     176185
Name: count, dtype: int64

In [19]:
# find order hour max
df['order_hour'].max()

23

## Assign price labels using loc() function

In [20]:
#  Create loc function to assign price labels to subset
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\kacie\AppData\Local\Temp\ipykernel_23300\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [21]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [22]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [23]:
# count loc price labels for subset
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     672525
Low-range product     314109
High-range product     12413
NaN                      953
Name: count, dtype: int64

### Create loc function to assign price labels to full merged set

In [24]:
df_ord_prod_merge.loc[df_ord_prod_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [25]:
df_ord_prod_merge.loc[(df_ord_prod_merge['prices'] <= 15) & (df_ord_prod_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [26]:
df_ord_prod_merge.loc[df_ord_prod_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
# count loc price values for full set
df_ord_prod_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: count, dtype: int64

In [42]:
# check table 
df_ord_prod_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_Days
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,NaN
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,NaN
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,NaN
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,NaN
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,NaN

## Create Busyness column using loc function

In [28]:
# find counts for orders for each day
df_ord_prod_merge['order_day_of_week'].value_counts(dropna=False)

order_day_of_week
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

In [30]:
# create if statement for busyness column 
result = []

for x in df_ord_prod_merge['order_day_of_week']:
    if x == 0:
        result.append('Busiest')
    elif x == 4:
        result.append('Least Busy')
    else:
        result.append('Regularly Busy')

In [31]:
# create Busyness column
df_ord_prod_merge['Busyness'] = result

In [32]:
# check table results
df_ord_prod_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busyness
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly Busy
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly Busy
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly Busy
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly Busy
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly Busy

In [34]:
# Check busyness value counts
df_ord_prod_merge['Busyness'].value_counts(dropna=False)

Busyness
Regularly Busy    22437988
Busiest            6209808
Least Busy         3787263
Name: count, dtype: int64

## Assign Busiest Days labels using loc function

In [36]:
# Drop Busyness column
df_ord_prod_merge.drop(['Busyness'], axis = 1, inplace = True)

In [47]:
# Use loc function to create Busiest Days column
df_ord_prod_merge.loc[(df_ord_prod_merge['order_day_of_week'] == 0) | (df_ord_prod_merge['order_day_of_week'] == 1), 'Busiest_Days'] = 'Busiest Days'

In [48]:
df_ord_prod_merge.loc[(df_ord_prod_merge['order_day_of_week'] == 3) | (df_ord_prod_merge['order_day_of_week'] == 4), 'Busiest_Days'] = 'Slowest Days'

In [52]:
df_ord_prod_merge.loc[(df_ord_prod_merge['order_day_of_week'] == 6) | (df_ord_prod_merge['order_day_of_week'] == 2) | (df_ord_prod_merge['order_day_of_week'] == 5), 'Busiest_Days'] = 'Regular Days'

In [53]:
# Check table 
df_ord_prod_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_Days
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,Regular Days
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regular Days
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regular Days
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regular Days
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regular Days

In [54]:
# Check Busiest Days value counts
df_ord_prod_merge['Busiest_Days'].value_counts(dropna=False)

Busiest_Days
Regular Days    12927862
Busiest Days    11875759
Slowest Days     7631438
Name: count, dtype: int64

## Create Busiest Time of Day column using loc function

In [55]:
# Check order hour value counts
df_ord_prod_merge['order_hour'].value_counts()

order_hour
10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: count, dtype: int64

In [58]:
# create Busiest Time of Day column using loc function
df_ord_prod_merge.loc[(df_ord_prod_merge['order_hour'] >= 9) & (df_ord_prod_merge['order_hour'] < 17), 'busiest_period_of_day'] = 'Most Orders'

In [68]:
df_ord_prod_merge.loc[(df_ord_prod_merge['order_hour'] >= 17) & (df_ord_prod_merge['order_hour'] <= 22) | (df_ord_prod_merge['order_hour'] == 7) | (df_ord_prod_merge['order_hour'] == 8), 'busiest_period_of_day'] = 'Average Orders'

In [64]:
df_ord_prod_merge.loc[(df_ord_prod_merge['order_hour'] <= 6) | (df_ord_prod_merge['order_hour'] == 23), 'busiest_period_of_day'] = 'Least Orders'

In [65]:
# check table 
df_ord_prod_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_Days,busiest_period_of_day
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,Regular Days,Average Orders
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regular Days,Average Orders
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regular Days,Average Orders
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regular Days,Average Orders
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regular Days,Average Orders

In [69]:
# check busiest period of day column value counts
df_ord_prod_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most Orders       21137805
Average Orders    10006995
Least Orders       1290259
Name: count, dtype: int64

## Create Busiest Time of Day column using numpy

In [70]:
# set the conditions
conditions = [
    (df_ord_prod_merge['order_hour'] >= 9) & (df_ord_prod_merge['order_hour'] < 17),
    (df_ord_prod_merge['order_hour'] >= 17) & (df_ord_prod_merge['order_hour'] <= 22) | 
    (df_ord_prod_merge['order_hour'] == 7) | (df_ord_prod_merge['order_hour'] == 8),
    (df_ord_prod_merge['order_hour'] <= 6) | (df_ord_prod_merge['order_hour'] == 23)
]

In [71]:
# set the choices
choices = ['Most Orders', 'Average Orders', 'Least Orders']

In [73]:
# create the busiest time of day column
df_ord_prod_merge['busiest_period_of_day'] = np.select(conditions, choices, default=np.nan)

In [74]:
# check busiest period value counts
df_ord_prod_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most Orders       21137805
Average Orders    10006995
Least Orders       1290259
Name: count, dtype: int64

In [75]:
# check table
df_ord_prod_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_Days,busiest_period_of_day
0,65,1,1,2,8,0,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,Regular Days,Average Orders
1,65,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regular Days,Average Orders
2,65,1,1,2,8,0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regular Days,Average Orders
3,65,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regular Days,Average Orders
4,65,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regular Days,Average Orders

In [76]:
# save table
df_ord_prod_merge.to_pickle(r'C:\Users\kacie\Box\Personal\CareerFoundry\Data Immersion\Achievement 4\Jupyter Folders\Data\Original Data\ord_prod_price_time.pkl')